*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color:#303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
}

body div{
    border: 0.25vw #ffffff solid ;
    padding: 1vw;
    color:#fff;
    margin: 1vh 0 1vh 0;
    border-radius: 1vh;
}

#buttons{
    margin: 0 1vw;
}